

.swiper-slide1{
    background-color: transparent;
}
.capos{
    border-radius: 10vw;
    width: 10vw;
    height: 10vw;
}
.imgPatrocinador{
    border-radius: 10vw;
    width: 10vw;
    height: 10vw;
}
