.card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1vw;
  background: #0f2027; /* fallback for old browsers */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(
    to top,
    #203a43,
    #0f2027,
    #171717
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #203a43,
    #0f2027,
    #171717
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 10px 5px 20px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 5px 20px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 5px 20px -9px rgba(0,0,0,0.75);
}

.card__image {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  background-color: rgb(0, 0, 0);
 /* background-image: url("https://66.media.tumblr.com/7c13ddf6566b4aaa6535589e79ed9797/tumblr_ow6wwn7Mhx1rp0vkjo1_540.gif");*/
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  width: 100%;
  height: 8.5rem;
  border-radius: 1vw;
  z-index: 1;
  -webkit-box-shadow: 10px 5px 33px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 5px 33px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 5px 33px -9px rgba(0,0,0,0.75);
}
@media screen and (max-width: 767px) {
  .card__image {
    height: 5.5rem; /* Ajustar la altura para pantallas de teléfono */
  }
}



.card__image::before {
  position: relative;
  width: 100%;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  background-image: linear-gradient(
    
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(18, 36, 42, 0.96)
  );
  z-index: -1;
  transition: all 0.3s linear;
  opacity: 0;
}

.card__image:hover::before {
  opacity: 1;
}

.card__image h3 {
  display: none;
  margin: 0;
  
  color: #fff;
}

.card__image:hover h3 {
  display: inline-block;
}

.card__heading-sub {
  display: none;
  padding: 0.5em 1.5em;
}

.card__image:hover .card__heading-sub {
  display: flex;
}

.card__heading-sub .age {
  background-color: #666;
  padding: 0 3px;
  color: #fff;
}

.card__heading-sub .actor::before {
  content: "Director:";
  padding: 0 5px;
  font-weight: 600;
}

.card__heading-sub .actor {
  padding: 0 5px;
  color: #fff;
}

.panel {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0 0 0;
  height: 5rem;
}

.card:hover > .panel {
  display: block;
  animation: fadeIn 0.45s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.panel__buttons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.card-modal-spawn {
  margin-left: auto;
}

.panel__icons {
  height: 2rem;
  width: 2rem;
  position: relative;
}

.panel__icons:hover {
  height: 2rem;
  width: 2rem;
  background-color: whitesmoke;
  box-shadow: 0 0 0 2px #fff;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  font-size: 21px;
}

.panel__icons a {
  color: #fff;
}

.panel__icons button {
  color: #fff;
  background-color: transparent;
  
  
}

.panel__icons i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.panel__icons:hover i {
  color: #222;
}

.custom-checkbox input[type="checkbox"],
.custom-checkbox .checked {
  display: none;
}

.custom-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
}

.custom-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;
  font-size: 1.1rem;
}
b {
  color: #fff;
}
.rating {
  color: lightgreen;
  font-weight: 900;
}

.year {
  font-size: 0.9rem;
  align-self: center;
  color: #fff;
}

.genres {
  padding: 0 0.75em;
  font-size: 0.8rem;
  color: #fff;
}

.card__modal {
  z-index: 3;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
  overflow: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}

.card__modal-content {
  position: relative;
  max-width: 50rem;
  margin: 0 auto;
  color: #bbb;
  line-height: 1.4rem;
}
.sinopsis{
  text-align: center;
}
.card__modal-container {
  position: relative;
}

.card__modal-close {
  position: absolute;
  font-size: 1.5em;
  border: none;
  display: inline-block;
  margin: 3px;
  padding: 7px 12px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  filter: brightness(30%);
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  z-index: 9;
  border-radius: 20px 4px 20px 20px;
}

.card__modal-close:hover {
  background-color: rgba(44, 83, 100, 0.45);
  filter: brightness(100%);
}

.display-topright {
  position: absolute;
  top: 0px;
  right: 0px;
}

.video-background {
  width: 100%;
  height: 100%;
 
}

.video-foreground,
.video-background{
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin-bottom: -4px;
 
}

.gradient {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(117, 19, 93, 0.73)
  );
  width: 100%;
  z-index: 999;
}

.video-description {
  position: relative;
  padding: 1em 1.5em;
  background: #0a1419;
  z-index: 9;
}

.video-description__header {
  display: flex;
  flex-direction: column;
  color: white;
}

.video-description h3 {
  margin: 0.15em 0;
  font-size: 20px;
}

.video-description__headline-sub {
  margin: 1em 0;
}

.video-description__headline-sub span {
  padding-right: 1em;
}

.video-description__headline-sub .quality {
  background-color: #666;
  padding: 0 5px;
  margin: 0 5px;
}

.video-description .actor::before {
  content: "Director:";
  padding: 0.5em 0;
  font-weight: 600;
}

.video-description .actor::before {
  content: "director:";
  padding: 0.5em 0;
  font-weight: 600;
}

.video-description .director::before {
  content: "Director:";
  padding: 0.5em 0;
  font-weight: 600;
}

.video-description .modal-buttons {
  width: auto;
  margin: 1em 0;
}

.card__modal-section {
  margin-top: 5px;
}

@media only screen and (min-width: 600px) {
  .card__modal-container {
    margin: 45px 30px;
  }

  .video-description__header {
    flex-direction: row;
  }

  .video-foreground,
  .video-background {
    border-radius: 5px 5px 0 0;
  }

  .card__modal-section {
    border-radius: 0 0 5px 5px;
  }

  .video-description .modal-buttons {
    margin-left: auto;
    margin-top: 0;
  }
 
}

.modalBackgound {
  background-color: #0f2027;
  
}

#video{
  width:100%;
  left: 0;
  right: 0;
  margin: 0;
  height: 400px;
}

.footerCard{
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .info {
    flex-direction: column; /* Cambiar dirección de flexbox para apilar los elementos verticalmente */
    align-items: center; /* Centrar elementos verticalmente */
    text-align: center; /* Centrar el texto horizontalmente */
    font-size: 1rem; /* Ajustar el tamaño de fuente para pantallas de móviles */
  }
  .card__image{
    flex-direction: column; /* Cambiar dirección de flexbox para apilar los elementos verticalmente */
    align-items: center; /* Centrar elementos verticalmente */
    text-align: center; /* Centrar el texto horizontalmente */
    font-size: 0.5rem; /* Ajustar el tamaño de fuente para pantallas de móviles */
  }
  .titulomovil{
    flex-direction: column; /* Cambiar dirección de flexbox para apilar los elementos verticalmente */
    align-items: center; /* Centrar elementos verticalmente */
    text-align: center; /* Centrar el texto horizontalmente */
    font-size: 0.4rem; /* Ajustar el tamaño de fuente para pantallas de móviles */
  }
}