.contenedor {
    display: flex;
    
  }
  
  .main {
    flex-grow: 1;
    padding: 0 0 0 0;
    width: 100vh;
    height: 100%;
    
    
  }
  .main-container1{
    background-color: #911576;
    
    
  }
  .barra{
    background-color: #01adc1;
    height: 60px;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    background: #f9b401; 
    min-height: 100vh;
    z-index: 10;
    top: 0;
    left: 0;
    
    
  }
  
  .logo {
  
    width: 100%;
    padding: 15px 0;
    text-align: center;
  }
  .logo-sym {
    vertical-align: middle;
  }
  .logo-texto img{
    margin-left: 10px;
    width: 200px;
    height: 80px;
  }
  
  .user {
    margin-top: 20px;
    padding-left: 10px;
  }
  .user img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }
  .user-nombre {
    color: rgb(0, 0, 0);
    margin-left: 5px;
    font-size: 20px;

  }
  
  .menu-nav {
    padding-left: 10px;
  }
  
  .ancho {
    width: 250px;
  }
  
  .ancho-min .user {
    padding-left: 0;
  }
  .ancho-min .ancho {
    width: 70px;
    align-items: center;
  }
  
  
  
  a.menu-toggle {
    cursor: pointer;
  }
  

  .listNav{
    background-color: #6ec819;
    color: black;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  .aa{
    color: rgb(255, 255, 255);
  }
  #series-dropdown{
    color: beige;
  }

  

  .btnadd{
    border-radius: 50%;
    background-color: #f9b401;
    margin: 10px;
    float: right;
  }
  .btnup{
    border-radius: 50%;
    background-color: #ffc56f;
    margin: 1px;
    width: 35px;
    height: 35px;
  }
  .btndel{
    border-radius: 50%;
    background-color: #ff3737;
    color: aliceblue;
    margin: 1px;
   
  }
  

  /*colores status*/
  .activo {
    color: green;
    -webkit-box-shadow: 10px 10px 45px 0px rgba(38,255,136,1);
-moz-box-shadow: 10px 10px 45px 0px rgba(38,255,136,1);
box-shadow: 10px 10px 45px 0px rgba(38,255,136,1);
text-align: center;
  }
  
  .inhabilitado {
    color: red;
    -webkit-box-shadow: 10px 10px 45px 0px rgba(255,38,81,1);
-moz-box-shadow: 10px 10px 45px 0px rgba(255,38,81,1);
box-shadow: 10px 10px 45px 0px rgba(255,38,81,1);
text-align: center;
  }


  
  