.contenedor {
    display: flex;
    
  }
  
  .main {
    flex-grow: 1;
    padding: 0 0 0 0;
    max-width: 1300px;
    height: 100%;
    
    
  }
  .main-container1{
    background-color: #6bb5ff;
    
    
  }
  .barra{
    background-color: #89004f;
    height: 60px;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    background: #89004f; 
    min-height: 100vh;
    z-index: 10;
    top: 0;
    left: 0;
    
    
  }
  
  .logo {
  
    width: 100%;
    padding: 15px 0;
    text-align: center;
  }
  .logo-sym {
    vertical-align: middle;
  }
  .logo-texto {
    margin-left: 10px;
  }
  
  .user {
    margin-top: 20px;
    padding-left: 10px;
  }
  .user img {
    border-radius: 50%;
  }
  .user-nombre {
    color: white;
    margin-left: 5px;
  }
  
  .menu-nav {
    padding-left: 10px;
  }
  
  .ancho {
    width: 250px;
  }
  
  .ancho-min .user {
    padding-left: 0;
  }
  .ancho-min .ancho {
    width: 70px;
    align-items: center;
  }
  
  
  
  a.menu-toggle {
    cursor: pointer;
  }
  

  .listNav{
    background-color: rgb(118, 252, 241);
    color: black;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    
  }

  .modalback{
    background-color: rgb(206, 5, 206);
    color: aliceblue;
    
  }

  .btnadd{
    border-radius: 50%;
    background-color: #89004f;
    margin: 10px;
    float: right;
  }
  .btnup{
    border-radius: 50%;
    background-color: #ffc56f;
    margin: 1px;
    width: 35px;
    height: 35px;
  }
  .btndel{
    border-radius: 50%;
    background-color: #ff3737;
    color: aliceblue;
    margin: 1px;
   
  }
  


  
  