.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 1;
    overflow: hidden;
  }
  
  .container {
    display: block;
    position: relative;
    width: 45%;
    height: 95%;
    margin: auto;
    margin-top: 20px;
    box-shadow: 1px 5px 10px 1px #333;
    overflow: auto;
    background-color: #ffb74ce3;
    padding: 2vw;
   
  }
  .btnPoliticas:hover {
    background-color: #00fa60;
    color: #252525;
  }
  .btnPoliticas {
    display: grid;
  
    width: 100%;
        padding: 10px;
        font-size: 17px;
        font-weight: 700;
        color: #3afa00;
        opacity: 1;
        background-color: #252525;
        
        border: 2px solid #00fa70;
        cursor: pointer;
    
  }
  p {
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .a {
    color: #ff2478;
    text-align: center;
  }
  .contenedor-flex {
      display: flex;
      justify-content: center; /* Centrar horizontalmente */
      align-items: center; /* Centrar verticalmente */
      height: 10vh; /* Altura del 100% de la ventana */
    }
  .contenedor-grid {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    grid-gap: 10px;
  }
  
  .btnPoliticas{
    width: 250px;
    
    
  }
  /*input {
    
      width: 250px;
      
      padding: 8px;
      border-radius: 20px;
      font-family: "Roboto", sans-serif;
      color: #fff;
      background-color: #333;
    }*/
    /*desabilitar boton y evento click*/
    .disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  
  h2 {
    color: #050505;
    text-align: center;
  }
  h5 {
    color: #000000;
  }
  
  /*check*/
  .check label {
    float: left;
    width: 10%;
    margin-left: 5%;
  }
  
  
  
  .checkbox {
    display: none;
  }
  
  .checkbox:checked + svg .path-moving {
    -webkit-transition: stroke 0.4s, stroke-dasharray 0.4s,
      stroke-dashoffset 0.4s cubic-bezier(0.3, 0.8, 0.6, 1.5);
    transition: stroke 0.4s, stroke-dasharray 0.4s,
      stroke-dashoffset 0.4s cubic-bezier(0.3, 0.8, 0.6, 1.5);
    stroke-dasharray: 25 90;
    stroke-dashoffset: 0;
  }
  .path-moving,
  .path-back {
    fill: none;
    stroke: #ba11ee;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  .path-moving {
    -webkit-transition: stroke 0.4s, stroke-dasharray 0.4s, stroke-dashoffset 0.4s;
    transition: stroke 0.4s, stroke-dasharray 0.4s, stroke-dashoffset 0.4s;
    stroke: #ffffff;
    stroke-dasharray: 110;
    stroke-dashoffset: -32;
  }
  .enregistrer {
    position: absolute;
    padding: 15% 13%;
    width: 74%;
    right: 0px;
    transition: all 0.7s;
  }
  .active-section {
    position: absolute;
    right: 500px;
  }
  .remove-section {
    position: absolute;
    left: 500px;
  }
  
  .contenedor-grid{
    padding-top: 20px;
  }
  
  /*resposive movil*/
  @media (max-width: 980px) {
      .contenedor-grid {
        grid-template-columns: 1fr; /* Una sola columna en dispositivos móviles */
        padding-top: 40px;
      }
      
    }

    @media (max-width: 580px) {
        .contenedor-grid {
          grid-template-columns: 1fr; /* Una sola columna en dispositivos móviles */
          padding-top: 40px;
        }
        .container {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            margin: auto;
           
            box-shadow: 1px 5px 10px 1px #333;
            overflow: auto;
            background-color: rgba(99, 255, 229, 0.904);
            padding: 2vw;
           
          }
        
      }


      .imglogin{
        width: 100%;
        height: 100%;
      }

      