
.mySwiper{
    background-color: transparent;
}
.swiper-slide{
    background-color: blueviolet;
    border-left: 5vw;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-radius: 1vw;;
    
}

.swiper-slide img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
  }

 